@model IEnumerable<CleanArch.Application.ViewModels.ProductViewModel>

<div class="container body-content">
    <div class="row product-content">
        @foreach (var product in Model)
        {
            <div class="product-image-container">
                <div class="product-image" style="background-image:url(@product.ImageUrl)"></div>
            </div>

            <span>@product.Name</span>
        }
    </div>
</div>
